/*BASE LAYOUT & STYLES*/
/*###################################################*/
@import "partials/_mixins";
@import "partials/_variables";
@import "partials/utilities/_flex";
@import "partials/mixins/_hover";
@import "partials/mixins/_flexbox";
@import "partials/mixins/_tab-focus";
@import "partials/mixins/_buttons";
@import "partials/mixins/_forms";
/*Correct and normalize browser rendering*/
@import "partials/_normalize";
@import "partials/_reset";
/*Set base typography*/
@import "partials/_type";
/*Grid styles*/
//@import "partials/_grid";
//@import "partials/_tabs";

/*------------------------------------------------------------------------------------*/
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,500"; //base
//buttons & links
/*------------------------------------------------------------------------------------*/
@import "partials/_buttons"; //inputs & forms
//inputs & forms
/*------------------------------------------------------------------------------------*/
@import "partials/_form"; //form partial
@import "partials/_range"; //range / slider partial
@import "partials/_date-picker";//datepicker widget
//vertical tabs
/*------------------------------------------------------------------------------------*/
@import "partials/_nav"; //vertical tab partial
//details & surveys
/*------------------------------------------------------------------------------------*/
@import "partials/_wrapper"; //detail, survey
//cards
/*------------------------------------------------------------------------------------*/
@import "partials/_card"; //card partial
//modal
/*------------------------------------------------------------------------------------*/
@import "partials/_modal"; //modal partial
//Loader
/*------------------------------------------------------------------------------------*/
@import "partials/_loader"; //loader

//APP SPECIFIC STYLES
/*###################################################*/
//main site structure
/*------------------------------------------------------------------------------------*/
@import "partials/_site-structure";
//header - includes logo and main navigation
/*------------------------------------------------------------------------------------*/
@import "partials/_header";
//search
/*------------------------------------------------------------------------------------*/
@import "partials/_search"; //search partial
//search results
/*------------------------------------------------------------------------------------*/
@import "partials/_list-results"; //list results partial
//workflow, workflow detail header & workflow stepper
/*------------------------------------------------------------------------------------*/
@import "partials/_workflow";
//footer
/*------------------------------------------------------------------------------------*/
@import "partials/_footer";
//ROUTE SPECIFIC STYLES
/*###################################################*/
//Home Page
/*------------------------------------------------------------------------------------*/
@import "partials/_dashboard";
//Policyholder Demographics/Customer Info page
/*------------------------------------------------------------------------------------*/
@import "partials/_policyholder-demographics";
/*------------------------------------------------------------------------------------*/
//Customize Quote page
/*------------------------------------------------------------------------------------*/
@import "partials/_customize";
//Share
/*------------------------------------------------------------------------------------*/
@import "partials/_share";
//Additional Interests
/*------------------------------------------------------------------------------------*/
@import "partials/_additional-interests";
//Mailing & Billing
/*------------------------------------------------------------------------------------*/
@import "partials/_mailing-billing";
//verify & write policy
/*------------------------------------------------------------------------------------*/
@import "partials/_verify";
//General & Quote Error
/*------------------------------------------------------------------------------------*/
@import "partials/_error";
//Pagination
/*------------------------------------------------------------------------------------*/
@import "partials/_pagination";
//Thanks Page
/*------------------------------------------------------------------------------------*/
#thanks {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 1;
}



.card {
  &.card-schedule-date {
    max-width: 32rem;
  }
}
