/*typtap specific styles & layout*/
@import "base.scss";
/*universal typtap styles*/
html body {
    a,
    a:visited {
        color: $bright-blue;
    }

    input,
    textarea {
        padding: $padding;
        border-width: 0;
        border-bottom: 2px solid $cool-gray-03;
        border-radius: 0;
    }

    .form-group {
        &.segmented {
            flex-wrap: wrap;

            .group-label {
                border-right-width: 0;
                flex-basis: 100%;
            }

            label {
                border-right-width: 0;

                span {
                    border-width: 2px 0 2px 2px;
                    @include button-variant($btn-default-color, $white, $bright-blue);
                }

                &:last-child {
                    span {
                        border-right-width: 2px;
                    }
                }
            }
        }

        &.switch {
            label {
                cursor: pointer;

                div {
                    width: 3.5rem;
                    height: 1.5rem;
                    border-radius: 0.75rem;
                    background: $cool-gray-02;
                    flex-basis: 3.5rem;

                    &:before {
                        width: 1.5rem;
                        height: 1.5rem;
                        border-color: $cool-gray-05;
                    }

                    &:after {
                        top: 0.375rem;
                        left: 2rem;
                    }
                }

                input[type="checkbox"] {
                    &:checked {
                        +div {
                            &:before {
                                transform: translateX(2rem);
                            }

                            &:after {
                                top: 0.375rem;
                                left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    select {
        border-width: 2px;

        &:not([size]):not([multiple]) {
            height: 2.375rem;
        }
    }

    .btn {
        height: auto;
        padding: 0.625rem 0.75rem;
        text-transform: uppercase;

        &.btn-primary {
            @include button-variant($white, $bright-blue, $bright-blue);
        }
    }

    .card {
        background: $white;

        .card-block {
            display: flex;
            flex-direction: column;
        }
    }
}
/*specific typtap styles*/
html {
    body {
        div#root {
            background: $cool-gray-00;

            > div {
                background: $cool-gray-00;

                header {
                    padding: $padding $padding*2;
                    border-bottom: 2px solid $green;
                    background: $black;

                    > div[role="banner"] {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        @include for-tablet-landscape-up {
                            max-width: 64rem;
                        }
                        @include for-big-desktop-up {
                            max-width: 90rem;
                        }

                        > .logo {
                            display: block;
                            width: 7rem;
                            flex-basis: 7rem;
                            flex-shrink: 0;
                        }

                        > h1 {
                            margin: 0 0 0 1rem;
                            text-align: center;
                            color: $white;
                            color: $cool-gray-10;
                            font-size: $font-size-h3;
                            font-weight: 300;
                        }

                        a {
                            margin-left: 1rem;
                            white-space: nowrap;
                            text-decoration: none;
                            font-size: $font-size-h6;
                            @include transition(all .2s ease-in-out);

                            &:hover {
                                text-decoration: none;
                                color: $bright-blue-lighten-02;
                            }
                        }

                        > nav {
                            display: flex;
                            flex: 1;
                            justify-content: flex-end;

                            > a {
                                margin-left: 1rem;
                            }
                        }
                    }
                }

                .search {
                    z-index: 10;
                    display: flex;
                    width: 100%;
                    margin-bottom: 0;
                    align-items: flex-start;
                    @include for-1024-up {}
                    @include for-tablet-landscape-up {
                        max-width: 64rem;
                    }
                    @include for-big-desktop-up {
                        max-width: 90rem;
                    }

                    form {
                        input {}

                        button {}
                    }

                    > div {
                        > div {
                            background: $cool-gray-00;

                            .heading {
                                color: $cool-gray-08;

                                span {
                                    color: $cool-gray-06;
                                    background: $cool-gray-01;
                                }
                            }
                        }

                        ul {
                            li {
                                background: $white;

                                a {
                                    &:hover {
                                        color: $white;
                                        background: $bright-blue;
                                    }
                                }
                            }
                        }
                    }
                }

                main {
                    div[role="article"] {
                        padding: $padding*2;
                        background: $white;
                        @include for-1024-up {
                            margin-top: $padding;
                            border-top-width: 0;
                            border-right: $card-border-width solid $cool-gray-01;
                            border-left: $card-border-width solid $cool-gray-01;
                        }
                        @include for-tablet-landscape-up {
                            max-width: 64rem;
                        }
                        @include for-big-desktop-up {
                            max-width: 90rem;
                        }

                        &.login {
                            border-top: $card-border-width solid $cool-gray-01;
                            align-items: center;
                            justify-content: center;
                        }

                        &.splash {
                            border-top: $card-border-width solid $cool-gray-01;
                            align-items: center;
                            justify-content: center;

                            .fade-in {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        &.survey {
                            border-top: $card-border-width solid $cool-gray-01;

                            .fade-in {
                                display: flex;
                                flex-direction: column;
                                flex: 1;
                            }
                        }

                        &.workflow {
                            padding: 0;

                            .fade-in {
                                display: flex;
                                flex-direction: column;
                                flex: 1;

                                .workflow-header {
                                    padding: $padding;
                                    background-color: $cool-gray-01;
                                    flex-shrink: 0;
                                }
                            }
                        }

                        .card {
                            z-index: 10;
                        }

                        .modal {
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            right: 0;
                            bottom: -4rem;
                            left: 0;
                            background: rgba($black, .75);
                            @include for-1024-up {
                                bottom: -4rem -$padding;
                            }
                        }
                    }
                }

                footer {
                    background: $cool-gray-00;

                    div[role="banner"] {
                        width: 100%;
                        margin-bottom: 0;
                        padding: $padding*2;
                        background: $white;
                        flex-basis: 4rem;
                        @include for-1024-up {
                            margin-bottom: $padding;
                            border-right: $card-border-width solid $cool-gray-01;
                            border-bottom: $card-border-width solid $cool-gray-01;
                            border-left: $card-border-width solid $cool-gray-01;
                        }
                        @include for-tablet-landscape-up {
                            max-width: 64rem;
                        }
                        @include for-big-desktop-up {
                            max-width: 90rem;
                        }
                    }
                }
            }
        }
    }
}
