{
  "parser": "babel-eslint",
  "extends": "react-app",
  "rules": {
    # "linebreak-style": [2, "unix"],
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "prefer-const": 1,
    "import/no-extraneous-dependencies": 2,
    "jsx-a11y/anchor-is-valid": [0, { "aspects": ["noHref", "invalidHref"] }],
    "react/default-props-match-prop-types": 0,
    "react/jsx-no-target-blank": 0,
    "react/no-array-index-key": 0
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "describe": true,
    "it": true,
    "cy": false,
    "Cypress": false
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
