#AddAdditionalInterestPage {
  .detail-wrapper {
    flex-direction: column;
  }

  .button-group {
    display: flex;
    flex-wrap: wrap;

    .btn {
      margin: 0 $padding $padding 0;

      @include for-phone-only {
        margin: 0 0 0.5rem;
        width: 100%;
      }
    }
  }

  .results-wrapper {
    margin-bottom: $padding*2;
    padding-bottom: $paragraph-margin-bottom;
    width: 100%;

    .result-cards {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        div {
          @include for-phone-only {
            position: relative;
            align-items: baseline;
            flex-direction: column;
          }

          .card-icon {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;
            margin-right: $padding;
            width: 5rem;
            text-align: center;

            @include for-phone-only {
              align-items: center;
              flex-basis: auto;
              flex-direction: row;
              flex-grow: 1;
              width: auto;
            }

            label {
              text-align: center;
              font-size: $font-size-xs;

              @include for-phone-only {
                margin: 0;
                font-size: $font-size-sm;
              }
            }

            .fa {
              font-size: $font-size-h4;

              &.Mortgagee {
                &:before {
                  content: "\f19c";
                }
              }

              &.PremiumFinance {
                &:before {
                  content: "\F27E";
                }
              }

              &.Interest {
                &:before {
                  content: "\F2B5";
                }
              }

              &.Insured {
                &:before {
                  content: "\F234";
                }
              }

              &.Bill {
                &:before {
                  content: "\F0D6";
                }
              }
            }
          }

          a {
            &.edit {
              width: 2rem;

              @include for-phone-only {
                position: absolute;
                right: $padding;
              }

              .fa-pencil {
                font-size: $font-size-h4;
              }
            }

            &.remove {
              width: 2rem;

              @include for-phone-only {
                position: absolute;
                right: 3rem;
              }

            ;

              .fa-trash {
                font-size: $font-size-h4;
              }
            }
          }

          section {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;

            h4 {
              margin-bottom: 0;
              line-height: $line-height-sm;
            }

            p {
              margin-bottom: 0;
              line-height: $line-height-sm;
            }
          }
        }
      }
    }
  }
}

#AdditionalPolicyHolder {
  .switch.inactive~.form-group {
    display: none;
  }
}

#Mortgagee {
  .switch.inactive~.form-group {
    display: none;
  }
}

#PremiumFinance {
  .switch.inactive~.form-group {
    display: none;
  }
}

#AdditionalInterest {
  .switch.inactive~.form-group {
    display: none;
  }
}

#AdditionalInsured {
  .switch.inactive~.form-group {
    display: none;
  }
}

#BillPayer {
  overflow-y: auto;
  flex-grow: 1;

  .switch.inactive~.form-group {
    display: none;
  }
}

#PremiumFinance {
  .scroll {
    .survey-wrapper {
      .section-group-header {
        order: 1;
      }

      .isAdditional {
        order: 5;
      }

      .premiumFinance {
        order: 10;
      }

      .name1 {
        order: 15;
      }

      .name2 {
        order: 20;
      }

      .mailingAddress1 {
        order: 25;
      }

      .mailingAddress2 {
        order: 30;
      }

      .city {
        order: 35;
      }

      .state {
        order: 40;
      }

      .zip {
        order: 45;
      }

      .referenceNumber {
        order: 50;
      }

    }
  }
}

#Mortgagee {
  .scroll {
    .survey-wrapper {
      .section-group-header {
        order: 1;
      }

      .mortgage {
        order: 10;
      }

      .mortgage2 {
        order: 30;
      }

      .isAdditional {
        order: 5;
      }

      .m1Name1 {
        order: 11;
      }

      .m1Name2 {
        order: 12;
      }

      .m1MailingAddress1 {
        order: 13;
      }

      .m1MailingAddress2 {
        order: 14;
      }

      .m1City {
        order: 15;
      }

      .m1State {
        order: 16;
      }

      .m1Zip {
        order: 17;
      }

      .m1ReferenceNumber {
        order: 18;
      }

      .isAdditional2 {
        order: 25;
      }

      .m2Name1 {
        order: 31;
      }

      .m2Name2 {
        order: 32;
      }

      .m2MailingAddress1 {
        order: 33;
      }

      .m2MailingAddress2 {
        order: 34;
      }

      .m2City {
        order: 35;
      }

      .m2State {
        order: 36;
      }

      .m2Zip {
        order: 37;
      }

      .m2ReferenceNumber {
        order: 38;
      }

      .isAdditional3 {
        order: 39;
      }

      .mortgage3 {
        order: 40;
      }

      .m3Name1 {
        order: 50;
      }

      .m3Name2 {
        order: 51;
      }

      .m3MailingAddress1 {
        order: 52;
      }

      .m3MailingAddress2 {
        order: 53;
      }

      .m3City {
        order: 54;
      }

      .m3State {
        order: 55;
      }

      .m3Zip {
        order: 56;
      }

      .m3ReferenceNumber {
        order: 57;
      }
    }
  }
}

.fa {
  font-size: $font-size-h4;

  &.mortgagee {
    &:before {
      content: "\f19c";
    }
  }

  &.premiumFinance {
    &:before {
      content: "\F27E";
    }
  }

  &.additionalInterest {
    &:before {
      content: "\F2B5";
    }
  }

  &.additionalInsured {
    &:before {
      content: "\F234";
    }
  }

  &.billPayer {
    &:before {
      content: "\F0D6";
    }
  }
}
