#AddAdditionalInterestPage {

  .button-group {
    display: flex;
    flex-wrap: wrap;

    .btn {
      margin: 0 $padding $padding 0;

      @include for-phone-only {
        margin: 0 0 0.5rem;
        width: 100%;
      }
    }
  }

  .results-wrapper {
    margin-bottom: 0;
    padding: 0;
    width: 100%;

    .result-cards {
      margin: 0 $padding;
      padding: 0;
      list-style: none;

      li {
        div {
          @include for-phone-only {
            position: relative;
            align-items: baseline;
            flex-direction: column;
          }
          &.card {
            margin: 0 0 ($padding/2);
            padding: $padding;

            >div {
              flex-grow: 1;
              flex-shrink: 1;

              h4 {
                margin-bottom: 0;
              }

              &.card-icon {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex-grow: 0;
                flex-shrink: 0;
                justify-content: center;
                margin-right: $padding;
                width: 5rem;
                text-align: center;

                @include for-phone-only {
                  align-items: center;
                  flex-basis: auto;
                  flex-direction: row;
                  flex-grow: 1;
                  width: auto;
                }

                label {
                  text-align: center;
                  font-size: $font-size-xs;

                  @include for-phone-only {
                    margin: 0;
                    font-size: $font-size-sm;
                  }
                }

                .fa {
                  font-size: $font-size-h3;
                }
              }
            }
          }

          a {
            &.edit {
              width: 2rem;

              @include for-phone-only {
                position: absolute;
                right: $padding;
              }

              .fa-pencil {
                font-size: $font-size-h4;
              }
            }

            &.remove {
              width: 2rem;

              @include for-phone-only {
                position: absolute;
                right: 3rem;
              }

            ;

              .fa-trash {
                font-size: $font-size-h4;
              }
            }
          }

          section {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;

            h4 {
              margin-bottom: 0;
              line-height: $line-height-sm;
            }

            p {
              margin-bottom: 0;
              line-height: $line-height-sm;
            }
          }
        }
      }
    }
  }
}

.fa {
  font-size: $font-size-h4;

  &.Mortgagee, &.mortgagee {
    &:before {
      color: $green;
      content: "\f19c";
    }
  }

  &.Finance, &.premiumFinance {
    &:before {
      color: $green;
      content: "\F27E";
    }
  }

  &.Interest, &.additionalInterest {
    &:before {
      color: $green;
      content: "\F2B5";
    }
  }

  &.Insured, &.additionalInsured {
    &:before {
      color: $green;
      content: "\F234";
    }
  }

  &.Payer, &.billPayer {
    &:before {
      color: $green;
      content: "\F0D6";
    }
  }
}
