#Customize {
  overflow-y: auto;
  flex-grow: 1;

  .section-group-header {
    font-weight: $font-weight-bold;

    i {
      margin-right: $padding;

      &:before {
        font-family: $font-family-icon;
      }

      &.Coverage {
        &.Limits {
          &:before {
            content: "\f201";
          }
        }

        &.Options {
          &:before {
            content: "\f0ae";
          }
        }
      }

      &.Deductibles {
        &:before {
          content: "\f0d6";
        }
      }

      &.Mitigation {
        &:before {
          content: "\f024";
        }
      }

      &.Discounts {
        &:before {
          content: "\f0c4";
        }
      }
    }
  }

  .form-group.survey-wrapper {
      width: auto;

    .form-group {
      align-items: center;
      flex-direction: row;
      //justify-content: space-between;

      &.select,
      &.range-component,
      &.slider,
      &.segmented {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        .range-wrapper,
        .segmented-answer-wrapper,
        label {
          width: 100%;
        }
      }

      &.read-only {
          justify-content: space-between;
      }

      &.lossOfUseAmount,
      &.medicalPayments {
        input {
          flex-basis: 6.5rem;
        }
      }
    }
  }
}
