.error-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;

  .quote-details-error {
    display: flex;
    min-height: 4.75rem;
    padding: $padding;
    background-color: $orange-lighten-03;

    .display-element {
      flex-grow: 0;
      flex-shrink: 0;

      .quote-number {
        margin-right: $padding*2;
      }

      dl {
        margin-bottom: 0;

        dt {
          font-size: $font-size-h6;
        }

        dd {
          margin-bottom: 0;

          + dd {
            font-size: $font-size-h6;
          }
        }
      }
    }
  }

  .error-wrapper {
    display: flex;
    overflow-y: auto;
    flex-direction: row;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 100%;
    @include for-phone-only {
      flex-direction: column-reverse;
      justify-content: center;
    }

    section {
      display: flex;
      overflow-y: auto;
      flex-grow: 1;

      #Error {
        width: auto;
        height: 100%;

        .detail-wrapper {
          position: relative;
          width: 100%;

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            &.error-list {
              margin: $padding;
              padding-left: $padding;
              list-style: disc;
              color: $red;

              li {
                &.warning-li {
                  color: $orange-darken-01;
                }
              }
            }
          }
        }
      }
    }

    aside {
      display: flex;
      flex-direction: column;
      width: 12rem;
      padding: $padding;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      @include for-phone-only {
        flex-direction: row;
        width: 100%;
      }

      .image {
        width: 10rem;
        height: 10rem;
        margin-right: $padding;
        border: 5px solid $bright-blue-darken-01;
        border-radius: 50%;
        background-image: url('../img/csr.jpg');
        background-position: right center;
        background-size: cover;
        flex-basis: 10rem;
        flex-grow: 0;
        flex-shrink: 0;
        @include for-phone-only {
          width: 8rem;
          height: 8rem;
          flex-basis: 8rem;
        }
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        margin-top: $padding;

        a {
          margin: $padding;
          font-size: $font-size-h4;
          @include for-phone-only {
            font-size: $font-size-h5;
          }
        }
      }
    }
  }

  &.modal {
    .survey-wrapper {
      .contact-message {
        .card {
          .error {
            color: $red-darken-01;
          }

          .card-header {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              margin-bottom: 0;
              color: $red-darken-01;
            }
          }

          .error-property-details {
            display: flex;

            .quote-number {
              margin-right: $padding*4;
            }

            .property-information {
              dd {
                margin-bottom: 0;
              }
            }
          }

          .contact-methods {
            display: flex;
            align-items: center;

            a {
              margin: $padding ($padding*2) ($padding*2) 0;
            }
          }
        }
      }
    }
  }
}

.app-wrapper {
  &.error {
    .route {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-self: stretch;

      .route-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }
}

.error-wrapper {
  .fade-in {
    height: 100%;

    .route {
      height: 100%;

      .error-content {
        .fade-in {
          display: flex;
          flex-direction: row;
          width: 100%;

          section {
            flex-grow: 1;
            flex-shrink: 0;

            #Error.fade-in {
              width: 100%;

              .detail-wrapper {
                position: relative;
                width: 100%;
                padding-bottom: 0;
              }
            }
          }

          aside {
            flex-shrink: 0;
            flex-grow: 0;
          }
        }

        footer {}
      }
    }
  }
}

.access-denied {
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .error {
      max-width: 20rem;
      border-color: rgba($black,.5);

      .card-header {
        display: flex;
        height: 6rem;
        border-bottom: 2px solid $bright-blue-darken-01;
        background: $black;
        align-items: center;

        > img {
          height: 3rem;
        }
      }

      .card-block {
        h1,
        h2,
        h3,
        h4,
        h5,
        h5,
        i {
          color: $red-darken-02;
        }
      }
    }
  }
}
