footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  flex-shrink: 0;

  div[role="banner"] {
    width: 100%;
    margin-bottom: 0;
    padding: $padding ($padding*2);
    border-top: $border-width dotted $border-color;
    background: $white;
    @include for-phone-only {
      small {
        font-size: $xsmall-font-size;
      }
    }
  }
}
