/*editor error animate*/
//** Unit-less `line-height` for use in components like buttons.
//$line-height-base: 1.45 from _variables.scss
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px
//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: $padding !default; //** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: ($padding/2) !default; //** Default background color used for all tables.
$table-bg: $white !default; //** Background color used for `.table-striped`.
$table-bg-accent: $white !default; //** Background color used for `.table-hover`.
$table-bg-hover: $cool-gray-01 !default;
$table-bg-hover-alt: rgba($cool-gray-01, 0.3) !default;
$table-bg-active: $table-bg-hover !default; //** Border color for table and cell borders.
$table-border-color: $cool-gray-07 !default; //== Media queries breakpoints

.react-bs-table-container .react-bs-table-search-form {
  margin-bottom: 0;
}

.react-bs-table {
  border: 1px solid #ddd;
  border-radius: 0;
}

.react-bs-table table {
  margin-bottom: 0;
  table-layout: fixed;
  color: $cool-gray-10;
  background-color: transparent;
}

.react-bs-table table td,
.react-bs-table table th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-bs-table-pagination {
  margin: $padding;
}

.react-bs-table-tool-bar {
  margin: $padding $padding 0;
}

.react-bs-container-header {
  overflow: hidden;
  width: 100%;
}

.react-bs-container-body {
  overflow: auto;
  width: 100%;
}

.react-bootstrap-table-page-btns-ul {
  float: right;
  /* override the margin-top defined in .pagination class in bootstrap. */
  margin-top: 0;
}

.react-bs-table .table-bordered {
  border: 0;
  outline: none !important;
}

.react-bs-table {
  .table-bordered {
    > thead {
      > tr {
        display: table-row;
        background: $cool-gray-02;

        > th {
          display: table-cell;
        }
      }
    }
  }
}

.react-bs-table .table-bordered > thead > tr > td,
.react-bs-table .table-bordered > thead > tr > th {
  color: $cool-gray-08;
  border-bottom-width: 1px;
  background: $cool-gray-02;
}

.react-bs-table .table-bordered > tbody > tr > td {
  color: $cool-gray-10;
  outline: none !important;

  .btn {
    padding: 0;
  }
}

.react-bs-table .table-bordered > tbody > tr:nth-of-type(even) {
  background-color: $cool-gray-01;

  > td {
    background-color: $cool-gray-01;
  }

  &:hover {
    background-color: $table-bg-hover-alt;

    > td {
      background-color: $table-bg-hover-alt;
    }
  }
}

.react-bs-table .table-bordered > tbody > tr > td.default-focus-cell {
  outline: 3px solid cornflowerblue !important;
  outline-offset: -1px;
}

.react-bs-table .table-bordered > tfoot > tr > td,
.react-bs-table .table-bordered > tfoot > tr > th {
  border-top-width: 1px;
}

.react-bs-table .table-bordered > tfoot > tr > td,
.react-bs-table .table-bordered > tfoot > tr > th {
  border-bottom-width: 0;
}
/*Esquerda*/
.react-bs-table .table-bordered > tbody > tr > td:first-child,
.react-bs-table .table-bordered > tbody > tr > th:first-child,
.react-bs-table .table-bordered > tfoot > tr > td:first-child,
.react-bs-table .table-bordered > tfoot > tr > th:first-child,
.react-bs-table .table-bordered > thead > tr > td:first-child,
.react-bs-table .table-bordered > thead > tr > th:first-child {
  border-left-width: 0;
}
/*Direita*/
.react-bs-table .table-bordered > tbody > tr > td:last-child,
.react-bs-table .table-bordered > tbody > tr > th:last-child,
.react-bs-table .table-bordered > tfoot > tr > td:last-child,
.react-bs-table .table-bordered > tfoot > tr > th:last-child,
.react-bs-table .table-bordered > thead > tr > td:last-child,
.react-bs-table .table-bordered > thead > tr > th:last-child {
  border-right-width: 0;
}
/*Topo*/
.react-bs-table .table-bordered > thead > tr:first-child > td,
.react-bs-table .table-bordered > thead > tr:first-child > th {
  border-top-width: 0;
}
/*Baixo*/
.react-bs-table .table-bordered > tfoot > tr:last-child > td,
.react-bs-table .table-bordered > tfoot > tr:last-child > th {
  border-bottom-width: 0;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th {
  vertical-align: middle;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .filter {
  font-weight: normal;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .filter::-webkit-input-placeholder,
.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input::-webkit-input-placeholder,
.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter option[value=''],
.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected {
  color: lightgrey;
  font-style: italic;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .select-filter.placeholder-selected option:not([value='']) {
  color: initial;
  font-style: initial;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter,
.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter {
  display: flex;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-input,
.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-input {
  float: left;
  width: calc(100% - 4.5rem - $padding);
  margin-left: $padding;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .date-filter-comparator,
.react-bs-table .react-bs-container-header > table > thead > tr > th .number-filter-comparator {
  float: left;
  width: 4.5rem;
}

.react-bs-table .react-bs-container-header .sort-column {
  position: relative;
  cursor: pointer;
}
/*inline editor default style*/
.react-bs-container .form-control.editor {}

.react-bs-container .textarea-save-btn {
  position: absolute;
  z-index: 100;
  top: -21px;
  right: 0;
}

.react-bs-table-no-data {
  text-align: center;
}

table {
  background-color: $table-bg;
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  text-align: left;
  color: $text-muted;
}

th {
  text-align: left;
}
// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > tbody,
   > thead,
  > tfoot {
    > tr {
      > td,
      > th {
        padding: $table-cell-padding;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
        line-height: $line-height-base;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > colgroup + thead,
   > thead:first-child,
  > caption + thead {
    > tr:first-child {
      > td,
      > th {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }
  // Nesting
  .table {
    background-color: $body-bg;
  }
}
// Condensed table w/ half padding

.table-condensed {
  > tbody,
   > thead,
  > tfoot {
    > tr {
      > td,
      > th {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}
// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;

  > tbody,
   > thead,
  > tfoot {
    > tr {
      > td,
      > th {
        border: 1px solid $table-border-color;
      }
    }
  }

  > thead > tr {
    > td,
    > th {
      border-bottom-width: 2px;
    }
  }
}
// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;

    &:hover {
      background-color: $table-bg-hover;
    }
  }
}
// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}

table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      display: table-cell;
      float: none;
    }
  }
}
// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
//NEED TO REWORK THIS TO BECOME CARDS ON MOBILE DEVICES

.table-responsive {
  .react-bs-table {
    @include for-phone-only {
      .react-bs-container-header {
        display: none;

        thead {
          display: none;
        }
      }

      .react-bs-container-body {
        .table-bordered {
          display: flex;
          margin-bottom: 2rem;

          tbody {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;

            tr {
              display: flex;
              flex-direction: column;

              td {
                flex-grow: 1;
                flex-shrink: 0;
                width: auto;

                :before {
                  display: flex;
                  font-size: $font-size-sm;
                  font-weight: $font-weight-bold;
                }

                &.created-date {
                  :before {
                    content: "Date";
                  }
                }

                &.file-name {
                  :before {
                    content: "Document Type";
                  }
                }

                &.attachments {
                  span:before {
                    content: "Attachment";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//GLOBAL DEFAULTS

.react-bs-table,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 0;
}

.react-bs-table {
  .table .table {
    background: $white;
  }

  .table-bordered {
    tr {
      font-size: $font-size-base;

      th {
        padding: $padding ($padding*1.5);
        border: none;
      }

      td {
        padding: $padding ($padding*1.5);
        border: none;
        font-size: $font-size-base;
      }
    }
  }
}
//table view
/*------------------------------------------------------------------------------------*/
.react-bs-container-header {
  .table-bordered {
    table-layout: auto;

    tr {
      display: flex;
      align-content: stretch;
      align-items: flex-start;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;

      th {
        align-self: auto;
        order: 0;
        width: auto;
      }
    }
  }
}
//card view
/*------------------------------------------------------------------------------------*/
.card-view {
  .react-bs-table-container {
    .react-bs-container-header {
      .table-bordered {
        table-layout: auto;

        tr {
          display: flex;
          align-content: stretch;
          align-items: flex-start;
          flex-basis: auto;
          flex-direction: row;
          flex-grow: 1;
          flex-shrink: 0;
          flex-wrap: nowrap;
          justify-content: center;

          th {
            align-self: auto;
            order: 0;
            width: auto;
          }

          td {
            align-self: flex-start;
            flex: 1 1 auto;
            order: 0;
            white-space: pre-line;
          }
        }
      }
    }

    .react-bs-container-body {
      .table {
        table-layout: auto;

        tr {
          display: flex;
          align-content: stretch;
          align-items: flex-start;
          flex-basis: auto;
          flex-direction: row;
          flex-grow: 1;
          flex-shrink: 0;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin-top: $padding;
          border: $card-border-width solid $card-border-color;
          border-radius: $card-border-radius;
          background: $card-bg;
          box-shadow: $card-box-shadow;

          td {
            align-self: center;
            flex: 1 1 auto;
            order: 0;
            padding: ($padding/2) $padding;
            white-space: pre-line;
          }
        }

        tr:nth-of-type(even) {
          background-color: $white;

          > td {
            background-color: transparent;
          }
        }
      }
    }
  }
}
//grid filter buttons
/*------------------------------------------------------------------------------------*/
.grid-controls {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;

  .filters-wrapper {
    display: flex;

    .filters {
      margin: $padding;

      a {
        &.btn {
          margin-right: 2px;
          text-transform: none;
          border-radius: 0;
          font-weight: $font-weight-normal;
          @include button-variant($cool-gray-12, $cool-gray-01, $cool-gray-01);

          &:hover {
            @include button-variant($cool-gray-12, $cool-gray-04, $cool-gray-04);
          }

          &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }

          &:last-child {
            margin-right: 0;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          &.selected {
            @include button-variant($white, $bright-blue-darken-04, $bright-blue-darken-04);

            &:hover {
              cursor: default;
              @include button-variant($white, $bright-blue-darken-04, $bright-blue-darken-04);
            }
          }

          &.btn-sm {
            i {
              margin: 0;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }

  .table-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .card-view {}
}
//sortable column controls
/*------------------------------------------------------------------------------------*/
.react-bs-table-container {
  .sort-column {
    display: flex;
    align-items: center;

    .order {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      width: 10px;
      height: 1rem;
      margin: 0 0 0 0.5rem;
      color: $cool-gray-10;
      line-height: 1rem;

      &:hover {
        cursor: pointer;
      }

      > .caret {
        top: -.125rem;
        margin: 0 !important;
        padding: 0 !important;

        &:before {
          content: "\f0d8";
          color: rgba($cool-gray-07, 1);
          font: normal normal normal 1rem $font-family-icon;
        }
      }

      &.dropup {
        > .caret {
          top: 0.375rem;

          &:before {
            content: "\f0d7";
            color: rgba($cool-gray-07, 1);
            font: normal normal normal 1rem $font-family-icon;
          }
        }
      }

      > span {
        position: absolute;
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 1;

        &.dropdown {
          top: -.125rem;

          &:before {
            content: "\f0d8";
            color: rgba($cool-gray-07, .25);
            font: normal normal normal 1rem $font-family-icon;
          }

          .caret {
            margin: 0 !important;
            padding: 0 !important;
          }
        }

        &.dropup {
          top: 0.375rem;

          &:before {
            content: "\f0d7";
            color: rgba($cool-gray-07, .25);
            font: normal normal normal 1rem $font-family-icon;
          }
        }
      }
    }
  }
}
