
//loader
.loader {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $modal-bg;

    .message{
      color: white;
      font-weight: $font-weight-bold;
      font-size: $font-size-h3;
    }

    .spinner {
      margin: 0 auto;
      width: 90px;
      text-align: center;
    }

    .spinner > div {
      display: inline-block;
      margin: 0 2px;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: $white;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
}


@keyframes spin-load {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      -moz-transform: rotate(359deg);
      -ms-transform: rotate(359deg);
      -o-transform: rotate(359deg);
      transform: rotate(359deg);
    }
}


@keyframes text-flash {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}



.loader {
  //here
}


.component-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;

  &.loader-sm {}
  &.loader-md {
    height: 16rem;
  }
  &.loader-lg {}
  &.loader-xl {}


  .spinner {
    margin: 0 auto;
    width: 90px;
    text-align: center;
  }

  .spinner > div {
    display: inline-block;
    margin: 0 2px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgba($cool-gray-01, 1);
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
