.modal {
  position: fixed;
  z-index: 1;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-bg;

  &.schedule-date-modal {
    display: flex;
    flex-direction: column;
  }

  &.edit-policyholder-modal {
    z-index: 10;

    .contact-message {
      width: 60%;
      @include for-phone-only {
        position: absolute;
        top: 3.875rem;
        bottom: 0.5rem;
        width: 100%;
      }
    }
  }

  &.root-modal {
    top: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      min-width: 40%;
    }
  }

  .survey-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: flex-start;
    height: 100%;
    padding: $padding*2;
    @include for-phone-only {
      padding: $padding 0;
    }

    .contact-message {
      display: flex;
      flex-basis: auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
    }

    .card {
      flex-basis: auto;
      flex-shrink: 1;

      .card-block {
        overflow-y: auto;
        flex-shrink: 1;
      }
    }
  }
}
//Modals for navigation menus on phones only
/*------------------------------------------------------------------------------------*/
.nav-modal {
  position: absolute;
  z-index: 20;
  top: 3.375rem;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: $modal-bg;
  @include transition(all 0.1s ease-in-out);

  &.active {
    visibility: visible;
    background: $modal-bg;
  }
}

.aside-modal {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: $modal-bg;

  &.active {
    visibility: visible;
    background: $modal-bg;
    @include for-tablet-landscape-up {
      visibility: hidden;
    }
  }
}

.blur {
  + main[role="document"] {
    .content-wrapper {
      filter: blur(5px);
      @include for-tablet-landscape-up {
        filter: blur(0);
      }
    }
  }

  .content-wrapper {
    filter: blur(5px);
    @include for-tablet-landscape-up {
      filter: blur(0);
    }
  }
}
