.modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: $modal-bg;

  &.loader {
    z-index: 10001;
  }

  &.modal-sm,
  &.modal-md,
  &.modal-lg,
  &.modal-xl,
  &.modal-alert {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .card {
      flex-grow: 0;
      flex-shrink: 0;

      width: 100%;
      height: auto;
      margin: 0;

      .card-block {
        position: relative;

        flex-grow: 1;
        flex-shrink: 1;

        width: 100%;
        height: auto;
        max-height: 80vh;

        .form-group {
          flex-grow: 1;
          flex-shrink: 1;

          width: auto;
          height: auto;

          label {
            width: 100%;
          }
          input {
            width: 100%;
          }

          &.switch {
            label {
              width: auto;
            }
          }
        }

        .flex-form {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;

          width: auto;

          @include for-phone-only {
            flex-direction: column;
          }

          &:last-of-type {
            .form-group {
              margin-bottom: 0;

              border-bottom-width: 0;

              @include for-phone-only {
                margin-bottom: $padding * 2;

                border-bottom: 1px dashed $cool-gray-02;

                &:last-of-type {
                  border-bottom-width: 0;
                }
              }
            }
          }

          .form-group {
            flex-grow: 1;
            flex-shrink: 1;

            border-bottom: 1px dashed $cool-gray-02;

            &.state {
              flex-grow: 0;
              flex-shrink: 0;

              width: 8rem;

              @include for-phone-only {
                width: 100%;
              }
            }
            &.zip {
              flex-grow: 0;
              flex-shrink: 0;

              width: 16rem;

              @include for-phone-only {
                width: 100%;
              }
            }
            &.phone {
              flex-grow: 0;
              flex-shrink: 0;

              width: 20rem;

              @include for-phone-only {
                width: 100%;
              }
            }

            &.order {
              flex-grow: 0;
              flex-shrink: 0;

              width: 20rem;
            }
          }
        }

        .date-range-wrapper {
          position: absolute;
          top: -3.5rem;
          right: 1rem;

          display: flex;
          align-items: flex-start;

          .form-group {
            position: relative;

            align-items: center;
            flex-direction: row;
            flex-grow: 0;
            flex-shrink: 0;
            flex-wrap: wrap;

            width: 11rem;
            margin: 0 2rem 0 0;

            &:last-of-type {
              margin-right: 0.5rem;
            }

            span {
              width: 11rem;

              font-size: $font-size-sm;
            }

            label {
              position: absolute;
              top: 0.5rem;
              right: 11rem;

              width: auto;
              margin: 0 $padding 0 0;
            }

            input {
              width: 10.5rem;
            }
          }

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: $padding;

            border-radius: 50%;
            i {
              width: 1.25rem;
              margin: 0;
            }
          }
        }
      }

      .card-footer {
        flex-grow: 0;
        flex-shrink: 0;

        height: auto;

        .btn-group {
          flex-grow: 0;
          flex-shrink: 0;

          height: auto;
          margin-bottom: 0;

          .btn {
            flex-grow: 0;
            flex-shrink: 0;

            height: auto;
          }
        }
      }

      &.card-policyholder {
        .card-block {
          flex-direction: row;
          flex-wrap: wrap;

          .title-check-box-wrapper {
            width: 100%;
          }
        }
      }

      &.report-modal {
        .card-block {
          overflow: visible;

          .table-view {
            overflow: auto;

            height: calc(100vh - 12.25rem);
          }
        }
      }
    }
  }

  &.modal-md {
    .card {
      width: 50%;
      max-width: 40rem;

      @include for-phone-only {
        position: absolute;
        z-index: 1000;
        top: 3.375rem;
        bottom: 0;

        width: 100%;

        border-radius: 0;

        .card-block {
          height: calc(100vh - 9.5625rem);
          max-height: 100vh;
        }
      }
    }
  }

  &.modal-lg {
    .card {
      width: 80%;
      max-width: 60rem;

      @include for-phone-only {
        position: absolute;
        z-index: 1000;
        top: 3.375rem;
        bottom: 0;

        width: 100%;

        border-radius: 0;

        .card-block {
          height: calc(100vh - 9.5625rem);
          max-height: 100vh;
        }
      }
    }
  }

  &.modal-xl {
    .card {
      width: 80%;
      max-width: 80rem;

      @include for-phone-only {
        position: absolute;
        z-index: 1000;
        top: 3.375rem;
        bottom: 0;

        width: 100%;

        border-radius: 0;

        .card-block {
          height: calc(100vh - 9.5625rem);
          max-height: 100vh;
        }
      }
    }
  }

  &.modal-lg {
    .card {
      width: 60%;
      max-width: 60rem;

      @include for-phone-only {
        position: absolute;
        z-index: 1000;
        top: 3.375rem;
        bottom: 0;

        width: 100%;

        border-radius: 0;

        .card-block {
          height: calc(100vh - 9.5625rem);
          max-height: 100vh;
        }
      }
    }
  }

  &.modal-alert {
    .card {
      max-width: 20rem;
    }
  }

  &.schedule-date-modal {
    display: flex;

    .card-footer {
      @include for-phone-only {
        flex-direction: column;

        .btn {
          width: 100%;
          margin-bottom: $padding;
          margin-left: 0;
        }
      }
      @include for-tablet-portrait-up {
        flex-direction: column;

        .btn {
          width: 100%;
          margin-bottom: $padding;
          margin-left: 0;
        }
      }
      @include for-desktop-up {
        flex-direction: row;

        .btn {
          width: auto;
          margin-left: $padding;
        }
      }
    }
  }

  &.edit-policyholder-modal {
    z-index: 30;
    top: 3.375rem;

    .contact-message {
      width: 60%;
      height: 100%;

      @include for-phone-only {
        width: 100%;
      }

      .card-policyholder {
        position: relative;

        max-height: 90%;

        @include for-phone-only {
          max-height: 100%;
        }

        .ph1contact,
        .ph1name,
        .ph2contact,
        .ph2name {
          display: flex;
          flex-grow: 0;
          flex-shrink: 0;

          width: 100%;

          @include for-phone-only {
            flex-direction: column;
          }

          .form-group {
            flex-grow: 1;
            flex-shrink: 1;

            border-bottom: 1px dashed $cool-gray-02;

            @include for-phone-only {
              flex-grow: 0;
              flex-shrink: 0;

              width: 100%;
            }
          }
        }
      }
    }
  }

  &.root-modal {
    top: 3.375rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      min-width: 40%;
    }
  }

  .survey-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: flex-start;

    height: 100%;
    padding: $padding * 2;

    @include for-phone-only {
      padding: $padding 0;
    }

    .contact-message {
      display: flex;
      flex-basis: auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
    }

    .card {
      flex-basis: auto;
      flex-shrink: 1;

      .card-block {
        overflow-y: auto;
        flex-shrink: 1;
      }
    }
  }
}
//Modals for navigation menus on phones only
/*------------------------------------------------------------------------------------*/
.nav-modal {
  position: absolute;
  z-index: 20;
  top: 3.375rem;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: hidden;

  background: $modal-bg;

  @include transition(all 0.1s ease-in-out);

  &.active {
    visibility: visible;

    background: $modal-bg;
  }
}

.aside-modal {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: hidden;

  background: $modal-bg;

  &.active {
    visibility: visible;

    background: $modal-bg;

    @include for-tablet-landscape-up {
      visibility: hidden;
    }
  }
}
