//vertical tabs
.content-panel-left {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  background: $warm-gray-02;
  color: $warm-gray-12;

  @include transition(all 0.2s ease-in-out);
  @include for-phone-only {
    position: fixed;
    top: 3.375rem;
    bottom: 0;
    left: -15rem;
    z-index: 100;
  }
  @include for-tablet-portrait-up {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 30;
    width: 4.75rem;

    @include transition(all 0.1s ease-in-out);
  }
  @include for-tablet-landscape-up {
    position: relative;
    width: auto;
  }
  .site-nav {
    padding: $padding*2;
    width: auto;

    @include transition(all 0.05s ease-in-out);
    @include for-phone-only {
      width: 14rem;
    }
    @include for-tablet-landscape-up {
      width: 12rem;
    } //main left navigation
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: flex;
        margin: 0;
        a {
          display: flex;
          align-items: center;
          flex-grow: 1;
          margin: 0 (-$padding*2) 0 (-$padding);
          padding: ($padding*1.5) 0;
          border-left: ($padding/2) solid rgba($white, 0);
          color: $white;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            border-left: ($padding/2) solid rgba($bright-blue, .2);
            background-color: rgba($white, .1);
            text-decoration: none;
            cursor: pointer;
            span {
              color: $white;
              text-decoration: none;
            }
          }
          &.active {
            border-left: ($padding/2) solid $bright-blue-darken-04;
            background-color: $white;
            text-decoration: none;
            font-weight: $font-weight-bold;
            cursor: default;

            @include transition(all 0.05s ease-in-out);
            i {
              width: 3rem - ($padding/2);
              color: $bright-blue-darken-04;
              text-decoration: none;

              @include transition(all 0.05s ease-in-out);
            }
            span {
              color: $bright-blue-darken-04;
              text-decoration: none;

              @include transition(all 0.05s ease-in-out);
            }
            &:hover {
              border-left: ($padding/2) solid $bright-blue;
              background-color: $white;
              text-decoration: none;
              cursor: default;
              i {
                width: 3rem - ($padding/2);
                text-decoration: none;
              }
              span {
                color: $bright-blue-darken-04;
                text-decoration: none;
              }
            }
          }
          i {
            width: 3rem;
            text-align: center;
            text-decoration: none;

            @include transition(all 0.1s 0.2s ease-in-out);
            @include for-phone-only {
              width: 3.5rem;
              text-decoration: none;
            }
          }
          &.agent-dashboard {
            i {
              &:before {
                content: "\f0e4";
              }
            }
          }
          &.quote {
            i {
              &:before {
                content: "\f10d";
              }
            }
          }
          &.policy {
            i {
              &:before {
                content: "\f15c";
              }
            }
            &.policy-detail {
              position: relative;
              border-left: ($padding/2) solid rgba($bright-blue-darken-03, .4);
              background-color: rgba($black, .1);

              @include for-tablet-portrait-up {
                &:after {
                  position: absolute;
                  top: 0;
                  right: -.25rem;
                  bottom: 0;
                  display: flex;
                  align-items: center;
                  padding: 0 0 0 ($padding/2);
                  border-left: ($padding/2) solid $bright-blue;
                  background: $white;
                  color: $black;
                  content: '\f053';
                  font-size: $font-size-xs;
                  font-family: $font-family-icon;
                }
              }
              @include for-tablet-landscape-up {
                &:after {
                  display: none;
                }
              }
              i {
                color: $white;
              }
              span {
                color: $white;
                &:after {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  display: flex;
                  align-items: center;
                  padding: $padding;
                  border-left: ($padding/2) solid $bright-blue;
                  background: $white;
                  color: $black;
                  content: '\f053';
                  font-family: $font-family-icon;

                  @include for-phone-only {
                    display: none;
                  }
                }
              }
              &:hover {
                border-left: ($padding/2) solid rgba($bright-blue, .2);
                background-color: rgba($white, .1);
                cursor: pointer;
              }
            }
          }
          &.training {
            i {
              &:before {
                content: "\f05a";
              }
            }
          }
          &.contacts {
            i {
              &:before {
                content: "\f2bc";
              }
            }
          }
          span {
            color: rgba($white, 1);
            text-decoration: none;
            font-weight: $font-weight-bold;

            @include transition(all 0.1s 0.2s ease-in-out);
            @include for-tablet-portrait-up {
              display: none;
            }
            @include for-tablet-landscape-up {
              display: flex;
            }
          }
        }
      }
    }
  }
  .user {
    padding: ($padding/2) ($padding) ($padding/2) ($padding*2);
    min-height: 4.75rem;
    width: auto;
    border-bottom: 2px solid $white;
    background-color: $warm-gray-08;

    @include transition(all 0.2s ease-in-out);
    @include for-tablet-portrait-up {
      //display: none;
    }
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
      width: 12rem;
    }
    label {
      margin: 0;
      color: $white;
      font-size: $font-size-sm;

      @include for-tablet-portrait-up {
        display: none;
      }
      @include for-tablet-landscape-up {
        display: flex;
      }
    }
    .user-name {
      display: flex;
      align-items: center;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0;
      color: $white;
      font-weight: $font-weight-normal;

      @include for-phone-only {
        max-width: 11rem;
      }
      @include for-tablet-portrait-up {
        display: none;
      }
      @include for-tablet-landscape-up {
        display: flex;
      }
      i {
        //hide until needed
        display: none;
        flex-basis: 1rem;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
  .btn.logout.btn-action {
    margin: 0.875rem;
    padding: ($padding) 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;

    @include for-tablet-landscape-up {
      margin: 0 ($padding);
      padding: ($padding) 0;
      width: auto;
      height: auto;
      border-radius: $btn-border-radius;
    }
    @include for-phone-only {
      margin: 0 ($padding);
      padding: ($padding) 0;
      width: auto;
      height: auto;
      border-radius: $btn-border-radius;
    }
    div {
      display: block;
      i {
        display: inline-block;
        margin-right: 0;

        @include for-tablet-landscape-up {
          margin-right: $padding;
        }
        @include for-phone-only {
          margin-right: $padding;
        }
      }
      span {
        display: none;

        @include for-tablet-landscape-up {
          display: inline-block;
        }
        @include for-phone-only {
          display: inline-block;
        }
      }
    }
  }
}

.nav-tabs {
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: $padding*2;
  width: 100%;
  background: $cool-gray-01;
  .btn {
    &.btn-tab {
      display: flex;
      flex-direction: column;
      border-bottom: ($padding/2) solid rgba($bright-blue, 0);
      border-radius: 0;
      box-shadow: none;
      text-transform: none;
      font-weight: $font-weight-bold;
      font-size: $font-size-sm;

      @include button-variant($cool-gray-07, $btn-link-bg, $btn-link-border);
      @include for-phone-only {
        >span {
          display: none;
        }
      }
      i {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0;
        width: 100%;
        color: $cool-gray-04;
        text-align: center;
        font-size: $font-size-h3;

        @include transition(all 0.2s ease-in-out);
      }
      &:hover {
        border-bottom: ($padding/2) solid rgba($bright-blue, 0.5);
        color: $cool-gray-08;
        i {
          color: $bright-blue;
        }
      }
      &.active {
        margin-bottom: 0;
        border-bottom: ($padding/2) solid $bright-blue;
        box-shadow: none;
        color: $cool-gray-14;
        i {
          color: $green;
        }
        &:hover {
          margin-bottom: 0;
          border-bottom: ($padding/2) solid $bright-blue;
          box-shadow: none;
          color: $cool-gray-14;
        }
      }
    }
  }
}

.app-wrapper {
  &.active {
    .content-panel-left {
      @include for-phone-only {
        left: 0;
        box-shadow: $card-box-shadow-alt;
      }
      @include for-tablet-portrait-up {
        width: 12rem;
        .site-nav {
          ul {
            li {
              a {
                span {
                  display: block;
                }
              }
            }
          }
        }
        .user {
          display: block;
          label {
            display: block;
          }
          .user-name {
            display: block;
          }
        }
        .btn.logout.btn-action {
          display: block;
          margin: 0.875rem;
          padding: ($padding) 0;
          width: auto;
          height: auto;
          border-radius: $btn-border-radius;
          div {
            display: block;
            i {
              margin-right: $padding;
            }
            span {
              display: inline-block;
            }
          }
        }
      }
      @include for-tablet-landscape-up {
        position: relative;
        width: auto;
      }
      .site-nav {
        padding: $padding*2;
        width: auto;

        @include transition(all 0.05s ease-in-out);
        @include for-phone-only {
          width: 14rem;
        } //main left navigation
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            a {
              &.active {
                border-left: ($padding/2) solid $bright-blue-darken-04;
                background-color: $white;
                text-decoration: none;
                font-weight: $font-weight-bold;
                cursor: default;

                @include transition(all 0.05s ease-in-out);
                i {
                  width: 3rem - ($padding/2);
                  color: $bright-blue-darken-04;
                  text-decoration: none;

                  @include transition(all 0.05s ease-in-out);
                }
                span {
                  color: $bright-blue-darken-04;
                  text-decoration: none;

                  @include transition(all 0.05s ease-in-out);
                }
                &:hover {
                  border-left: ($padding/2) solid $bright-blue;
                  background-color: $white;
                  text-decoration: none;
                  cursor: default;
                  i {
                    width: 3rem - ($padding/2);
                    text-decoration: none;
                  }
                  span {
                    color: $body-color;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .content-wrapper {
      z-index: 10;
      filter: blur(5px);

      @include for-tablet-landscape-up {
        filter: blur(0);
      }
    }
  }

  .content-wrapper {
    z-index: 30;
  }
}