//vertical tabs

.content-panel-left {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  color: $warm-gray-12;
  background: $warm-gray-02;
  @include transition(all 0.2s ease-in-out);
  @include for-phone-only {
    position: fixed;
    z-index: 100;
    top: 3.375rem;
    bottom: 0;
    left: -15rem;

    &.active {
      left: 0;
      box-shadow: $card-box-shadow-alt;
    }
  }
  @include for-tablet-portrait-up {
    position: absolute;
    z-index: 30;
    top: 0;
    bottom: 0;
    width: 4.75rem;
    @include transition(all 0.1s ease-in-out);

    &.active {
      width: 12rem;

      .site-nav {
        ul {
          li {
            a {
              span {
                display: block;
              }
            }
          }
        }
      }

      .user {
        display: block;

        label {
          display: block;
        }

        .user-name {
          display: block;
        }
      }

      .btn.logout.btn-action {
        display: block;
        width: auto;
        height: auto;
        margin: 0.875rem;
        padding: ($padding) 0;
        border-radius: $btn-border-radius;

        div {
          display: block;

          i {
            margin-right: $padding;
          }

          span {
            display: inline-block;
          }
        }
      }
    }
  }
  @include for-tablet-landscape-up {
    position: relative;
    width: auto;
  }

  .site-nav {
    width: auto;
    padding: $padding*2;
    @include transition(all 0.05s ease-in-out);
    @include for-phone-only {
      width: 14rem;
    }
    @include for-tablet-landscape-up {
      width: 12rem;
    }
    //main left navigation
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        margin: 0;

        a {
          display: flex;
          align-items: center;
          flex-grow: 1;
          margin: 0 (-$padding*2) 0 (-$padding);
          padding: ($padding*1.5) 0;
          cursor: pointer;
          text-decoration: none;
          color: $white;
          border-left: ($padding/2) solid rgba($white, 0);

          &.active {
            cursor: default;
            text-decoration: none;
            border-left: ($padding/2) solid $bright-blue-darken-04;
            background-color: $white;
            font-weight: $font-weight-bold;
            @include transition(all 0.05s ease-in-out);

            i {
              width: 4rem - ($padding/2);
              text-decoration: none;
              color: $bright-blue-darken-04;
              @include transition(all 0.05s ease-in-out);
            }

            span {
              text-decoration: none;
              color: $bright-blue-darken-04;
              @include transition(all 0.05s ease-in-out);
            }

            &:hover {
              cursor: default;
              text-decoration: none;
              border-left: ($padding/2) solid $bright-blue;
              background-color: $white;

              i {
                width: 4rem - ($padding/2);
                text-decoration: none;
              }

              span {
                text-decoration: none;
                color: $body-color;
              }
            }
          }

          &:hover {
            cursor: pointer;
            text-decoration: none;
            border-left: ($padding/2) solid rgba($bright-blue, .2);
            background-color: rgba($white, .1);

            span {
              text-decoration: none;
              color: $white;
            }
          }

          i {
            width: 4rem;
            text-align: center;
            text-decoration: none;
            @include transition(all 0.1s 0.2s ease-in-out);
            @include for-phone-only {
              width: 3.5rem;
              text-decoration: none;
            }
          }

          &.agent-dashboard {
            i {
              &:before {
                content: "\f0e4";
              }
            }
          }

          &.quote {
            i {
              &:before {
                content: "\f10d";
              }
            }
          }

          &.policy {
            i {
              &:before {
                content: "\f15c";
              }
            }

            &.policy-detail {
                border-left: ($padding/2) solid rgba($bright-blue-darken-03, .4);
                background-color: rgba($black, .1);
                position: relative;

                i {
                    color: $white;
                }

                span {
                    color: $white;

                    &:after {
                        content: '\f053';
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: $white;
                        padding: ($padding*1.5) $padding;
                        border-left: ($padding/2) solid $bright-blue;
                        color: $black;
                        font-family: $font-family-icon;
                    }
                }

                &:hover {
                  cursor: pointer;
                  border-left: ($padding/2) solid rgba($bright-blue, .2);
                  background-color: rgba($white, .1);
              }
            }
          }

          span {
            text-decoration: none;
            color: rgba($white, 1);
            font-weight: $font-weight-bold;
            @include transition(all 0.1s 0.2s ease-in-out);
            @include for-tablet-portrait-up {
              display: none;
            }
            @include for-tablet-landscape-up {
              display: flex;
            }
          }
        }
      }
    }
  }

  .user {
    width: auto;
    min-height: 4.75rem;
    padding: ($padding/2) ($padding) ($padding/2) ($padding*2);
    border-bottom: 2px solid $white;
    background-color: $warm-gray-08;
    @include transition(all 0.2s ease-in-out);
    @include for-tablet-portrait-up {
      //display: none;
    }
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
      width: 12rem;
    }

    label {
      margin: 0;
      color: $white;
      font-size: $font-size-sm;
      @include for-tablet-portrait-up {
        display: none;
      }
      @include for-tablet-landscape-up {
        display: flex;
      }
    }

    .user-name {
      display: flex;
      align-items: center;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0;
      color: $white;
      font-weight: $font-weight-normal;
      @include for-phone-only {
        max-width: 11rem;
      }
      @include for-tablet-portrait-up {
        display: none;
      }
      @include for-tablet-landscape-up {
        display: flex;
      }

      i {
        //hide until needed
        display: none;
        flex-basis: 1rem;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  .btn.logout.btn-action {
    width: 3rem;
    height: 3rem;
    margin: 0.875rem;
    padding: ($padding) 0;
    text-align: center;
    border-radius: 50%;
    @include for-tablet-landscape-up {
      width: auto;
      height: auto;
      margin: 0 ($padding);
      padding: ($padding) 0;
      border-radius: $btn-border-radius;
    }
    @include for-phone-only {
      width: auto;
      height: auto;
      margin: 0 ($padding);
      padding: ($padding) 0;
      border-radius: $btn-border-radius;
    }

    div {
      display: block;

      i {
        display: inline-block;
        margin-right: 0;
        @include for-tablet-landscape-up {
          margin-right: $padding;
        }
        @include for-phone-only {
          margin-right: $padding;
        }
      }

      span {
        display: none;
        @include for-tablet-landscape-up {
          display: inline-block;
        }
        @include for-phone-only {
          display: inline-block;
        }
      }
    }
  }
}

.nav-tabs {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  margin-bottom: $padding*2;
  background: $cool-gray-01;
  position: sticky;
  top: 0;
  z-index: 100;

  .btn {
    &.btn-tab {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      box-shadow: none;
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
      text-transform: none;
      @include button-variant($cool-gray-07, $btn-link-bg, $btn-link-border);
      border-bottom: ($padding/2) solid rgba($bright-blue, 0);

      i {
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        margin: 0;
        text-align: center;
        color: $cool-gray-04;
        font-size: $font-size-h3;
        @include transition(all 0.2s ease-in-out);
      }

      &:hover {
        color: $cool-gray-08;
        border-bottom: ($padding/2) solid rgba($bright-blue, 0.5);

        i {
          color: $bright-blue;
        }
      }

      &.active {
        margin-bottom: 0;
        color: $cool-gray-14;
        border-bottom: ($padding/2) solid $bright-blue;
        box-shadow: none;

        i {
          color: $green;
        }

        &:hover {
          margin-bottom: 0;
          color: $cool-gray-14;
          border-bottom: ($padding/2) solid $bright-blue;
          box-shadow: none;
        }
      }
    }
  }
}
