@media (max-width: 599px) {
  html {
    height: initial;
    div#root {
      .detail-wrapper,
      .survey-wrapper {
        .section-group-header {
          margin-bottom: 0;
        }
      }
      .loader.modal {
        position: fixed;
        z-index: 10000;
        top: 3.375rem;
        bottom: 0;
      }
      .app-wrapper {
        overflow: hidden;
        header {
          position: fixed;
          z-index: 100;

          overflow: visible;

          height: auto;
        }
        div[role='main'] {
          top: 3.375rem;

          overflow-x: hidden;
          overflow-y: auto;

          height: auto;
          .content-wrapper {
            overflow: hidden;

            height: auto;
            .workflow {
              overflow: hidden;

              height: auto;
              .route {
                overflow: hidden;
                .detailHeader {
                  min-height: 3.5rem;
                }

                .search {
                  min-height: calc(100vh - 3.375rem);

                  .retrieve-quote-wrapper {
                    flex-wrap: wrap;

                    .first-name-search,
                    .last-name-search {
                      width: 50%;
                    }
                    .quote-no-search {
                      width: calc(100% - 3.3rem);
                    }
                  }

                  .search-policy-wrapper {
                    flex-wrap: wrap;

                    .search-context {
                      width: 5.75rem;
                    }

                    .first-name-search {
                      width: calc(55% - 5.75rem);
                    }
                    .last-name-search {
                      width: 45%;
                    }
                    .policy-no-search {
                      width: calc(100% - 3.25rem);
                    }

                    button.multi-input {
                      margin-left: $padding/2;
                    }
                  }

                  .survey-wrapper {
                    overflow: hidden;

                    height: auto;
                  }
                }

                .flex.grow {
                  overflow: hidden;

                  .search {
                    &.route-content {
                      overflow-x: hidden;
                      overflow-y: auto;

                      height: calc(100vh - 3.375rem);

                      .survey-wrapper {
                        flex-grow: 0;
                        flex-shrink: 0;

                        height: auto;

                        .results-wrapper {
                          min-height: calc(100vh - 3.375rem);
                        }
                      }

                      .pagination-wrapper {
                        position: fixed;
                      }
                    }
                  }
                }
                .scroll {
                  overflow: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}
