@media (max-width: 599px) {
  html {
    height: initial;

    div#root {
      .detail-wrapper,
      .survey-wrapper {
        .section-group-header {
          margin-bottom: 0;
        }

        .form-group {
          margin-bottom: $padding;
          padding-bottom: $padding;
        }
      }

      .loader.modal {
        position: fixed;
        z-index: 10;
        top: 3.375rem;
        height: auto;
        min-height: calc(100vh - 3.375rem);
      }

      .app-wrapper {
        header {
          position: fixed;
          z-index: 100;
          overflow: visible;
          height: auto;

          div[role="banner"] {
            .nav-modal {
              position: fixed;
            }
          }
        }

        main[role="document"] {
          z-index: 10;
          overflow: visible;
          height: auto;
          margin-top: 3.375rem;

          .content-wrapper {
            overflow: visible;
            height: auto;

            .workflow {
              overflow: visible;
              height: auto;

              .route {
                .detailHeader {
                  min-height: 3.5rem;
                }

                .search {
                  min-height: calc(100vh - 3.375rem);

                  .retrieve-quote-wrapper {
                    flex-wrap: wrap;

                    .first-name-search,
                    .last-name-search {
                      width: 50%;
                    }

                    .quote-no-search {
                      width: calc(100% - 3.25rem);
                    }
                  }

                  .survey-wrapper {
                    overflow: hidden;
                    height: auto;
                  }
                }

                .route-content {
                  position: initial;
                }

                .modal {
                  position: fixed;
                  top: 3.375rem;
                  height: auto;
                  min-height: calc(100vh - 3.375rem);
                }
              }
            }
          }
        }
      }
    }
  }
}
