#CustomerInfo {
  .survey-wrapper {
    .section-group-header {
      font-weight: $font-weight-bold;

      .fa {
        font-family: $font-family-icon;

        &.Policyholder {
          &.Primary, &.Secondary {
            &:before {
              content: "\f2bd";
            }
          }

        }

        &.Policy.Details {
          &:before {
            content: "\f15c";
          }
        }
      }
    }

    .FirstName,
    .FirstName2 {
      @include for-tablet-portrait-up {
        width: 40%;
        padding-right: $padding*2;
      }
    }

    .LastName,
    .LastName2 {
      @include for-tablet-portrait-up {
        width: 60%;
      }
    }

    .EmailAddress,
    .EmailAddress2 {
      @include for-tablet-portrait-up {
        width: 60%;
        padding-right: $padding*2;
      }
    }

    .phoneNumber,
    .phoneNumber2 {
      @include for-tablet-portrait-up {
        width: 40%;
        //padding-right: $padding*2;
      }
    }

    .effectiveDate {
      @include for-tablet-portrait-up {
        width: 50%;
        padding-right: $padding*2;
      }
    }

    .agentID {
      width: 100%;
      @include for-tablet-portrait-up {
        width: 50%;
        //padding-right: $padding*2;
      }
    }
  }
}
