//policy quote-details

.policy-detail {
  .property-details, .policyholder-details {
    section {
      &.display-element {
        border-bottom: 1px dashed $cool-gray-02;

        &:last-child {
          border-bottom-width: 0;
        }

        &.home-and-location,
        &.wind-mit,
        &.discount-discharge,
        &.policy-holder {
          margin-bottom: $padding*2;

          dl {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            > div {
              display: flex;
              flex-direction: column;
              margin-right: $padding*4;
            }
          }
        }

        &.coverage-limits, &.deductibles {
            margin-bottom: $padding*2;

            dl {
                margin-bottom: 0;
                display: flex;
                width: 100%;

                &:nth-of-type(odd) {
                    background: $cool-gray-01;
                }

                > div {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: $padding;

                    dd {
                        margin-bottom: 0;
                    }
                }
            }
        }
      }
    }
  }
}
