//policy quote-details

.policy-detail {
  .policy-documents {
    table {
      .date {
        width: 14rem;
      }
    }
  }

  .agent-details,
  .policy-details,
  .policyholder-details,
  .property-details {
    section {
      &.display-element {
        border-bottom: 1px dashed $cool-gray-02;

        &:last-child {
          border-bottom-width: 0;
        }

        &.agent,
        &.policy-holder {
          margin-bottom: $padding * 2;

          dl {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            > div {
              display: flex;
              flex-direction: column;
              margin-right: $padding * 4;
            }
          }
        }

        &.billing-information,
        &.coverage-limits,
        &.deductibles,
        &.discount-discharge,
        &.home-and-location,
        &.premium,
        &.wind-mit {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: $padding * 2;

          > div {
            width: calc(50% - 0.5rem);
            margin-bottom: $padding * 2;

            &.left {
              margin-right: $padding;
            }

            &.right {
              margin-left: $padding;
            }

            @include for-phone-only {
              width: 100%;
              margin-bottom: 0;

              &.left {
                margin-right: 0;
              }

              &.right {
                margin-bottom: $padding * 2;
                margin-left: 0;

                &.re-stripe {
                  dl {
                    &:nth-of-type(even) {
                      background: $cool-gray-01;
                    }

                    &:nth-of-type(odd) {
                      background: $white;
                    }
                  }
                }
              }
            }
          }

          dl {
            display: flex;
            width: 100%;
            margin-bottom: 0;
            padding: ($padding/2) ($padding);

            &:nth-of-type(odd) {
              background: $cool-gray-01;
            }

            > div {
              display: flex;
              justify-content: space-between;
              width: 100%;

              dd {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .policy-details {
    display: flex;
    flex-wrap: wrap;

    .display-element {
      &.payments {
        width: 100%;

        .payments-received {
          h4 {
            padding-right: $padding;
            text-align: right;
          }
        }
      }

      &.left,
      &.right {
        flex-direction: column;
        width: 50%;

        h3 {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }

      &.left {
        padding-right: $padding;
        padding-bottom: 1rem;
      }

      &.right {
        padding-bottom: 1rem;
        padding-left: $padding;
      }

      @include for-phone-only {
        &.left,
        &.right {
          width: 100%;
          padding: 0 0 1rem;
        }
      }
    }
  }
}
