//policy quote-details

.policy-detail {
  .policy-documents {
      table {
          .date {
              width: 14rem;
          }
      }
  }
  .policyholder-details,
  .property-details {
    section {
      &.display-element {
        border-bottom: 1px dashed $cool-gray-02;

        &:last-child {
          border-bottom-width: 0;
        }

        &.policy-holder {
          margin-bottom: $padding*2;

          dl {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            > div {
              display: flex;
              flex-direction: column;
              margin-right: $padding*4;
            }
          }
        }

        &.coverage-limits,
        &.deductibles,
        &.discount-discharge,
        &.home-and-location,
        &.wind-mit {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: $padding*2;

          > div {
            width: calc(50% - .5rem);
            margin-bottom: $padding*2;
            @include for-phone-only {
              width: 100%;
              margin-bottom: 0;

              &.left {
                margin-right: 0;
              }

              &.right {
                margin-bottom: $padding*2;
                margin-left: 0;

                &.re-stripe {
                  dl {
                    &:nth-of-type(even) {
                      background: $cool-gray-01;
                    }

                    &:nth-of-type(odd) {
                      background: $white;
                    }
                  }
                }
              }
            }

            &.left {
              margin-right: $padding;
            }

            &.right {
              margin-left: $padding;
            }
          }

          dl {
            display: flex;
            width: 100%;
            margin-bottom: 0;
            padding: ($padding/2) ($padding);

            &:nth-of-type(odd) {
              background: $cool-gray-01;
            }

            > div {
              display: flex;
              justify-content: space-between;
              width: 100%;

              dd {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
