#CustomerInfo {
  .survey-wrapper {
    .section-group-header {
      font-weight: $font-weight-bold;

      .fa {
        font-family: $font-family-icon;

        &.Policyholder {
          &.Primary,
          &.Secondary {
            &:before {
              content: '\f2bd';
            }
          }
        }

        &.Policy.Details {
          &:before {
            content: '\f15c';
          }
        }
      }
    }

    .FirstName,
    .FirstName2 {
      @include for-tablet-portrait-up {
        padding-right: $padding * 2;
        width: 40%;
      }
    }

    .LastName,
    .LastName2 {
      @include for-tablet-portrait-up {
        width: 60%;
      }
    }

    .EmailAddress,
    .EmailAddress2 {
      @include for-tablet-portrait-up {
        padding-right: $padding * 2;
        width: 60%;
      }
    }

    .phoneNumber,
    .phoneNumber2 {
      @include for-tablet-portrait-up {
        width: 40%;
        //padding-right: $padding*2;
      }
    }

    .effectiveDate {
      @include for-tablet-portrait-up {
        padding-right: $padding * 2;
        width: 50%;
      }
    }

    .agentID {
      width: 100%;

      @include for-tablet-portrait-up {
        width: 50%;
        //padding-right: $padding*2;
      }
    }
  }
}
.modal.modal-xl {
  .card {
    &.card-policyholder {
      .card-block {
        @include for-phone-only {
          flex-direction: column;
          flex-wrap: nowrap;
        }

        .title {
          padding: 0;
          width: 100%;
        }

        .first-name {
          width: 50%;

          @include for-phone-only {
            width: 100%;
          }
        }
        .last-name {
          width: 50%;

          @include for-phone-only {
            width: 100%;
          }
        }
        .phone {
          width: 40%;

          @include for-phone-only {
            width: 100%;
          }
        }
        .email {
          width: 60%;

          @include for-phone-only {
            width: 100%;
          }
        }
      }
    }
  }
}
