.policy-detail {
  width: 100%;

  .react-bs-table {
    .created-date {
      width: 7.5rem;
    }

    .file-name {
      width: 10rem;
    }
  }
}

.route.policy {
  .policy-documents {
    .date {
      width: 15rem;
    }
  }
}