// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.1.0
// MIT License
@import "_variables";
@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
    box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}
@mixin track() {
    width: $track-width;
    height: $track-height;
    cursor: pointer;
    transition: all 0.2s ease;
}
@mixin thumb() {
    width: $thumb-width;
    height: $thumb-height;
    cursor: pointer;
    border: $thumb-border-width solid $thumb-border-color;
    border-radius: $thumb-radius;
    background: $thumb-color;
    @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
}

.range-component {
    label {}

    .range-wrapper {
        display: flex;
        align-items: center;

        .range-control-wrapper {
            position: relative;
            flex-grow: 1;
            flex-shrink: 0;

            .range-limit {
                position: absolute;
                bottom: -$padding/4;
                left: $padding;
                padding: 0;
                color: $warm-gray-05;
                font-size: $font-size-h6;

                &:last-child {
                    right: $padding;
                    left: auto;
                }
            }

            [type=range] {
                width: $track-width;
                margin: $thumb-height / 2 0;
                background: transparent;
                -webkit-appearance: none;

                &:focus {
                    outline: none;
                }

                &::-webkit-slider-runnable-track {
                    border: $track-border-width solid $track-border-color;
                    border-radius: $track-radius;
                    background: $track-color;
                    @include track();
                    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                }

                &::-webkit-slider-thumb {
                    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
                    @include thumb();
                    -webkit-appearance: none;
                }

                &:focus::-webkit-slider-runnable-track {
                    background: lighten($track-color, $contrast);
                }

                &::-moz-range-track {
                    border: $track-border-width solid $track-border-color;
                    border-radius: $track-radius;
                    background: $track-color;
                    @include track();
                    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                }

                &::-moz-range-thumb {
                    @include thumb();
                }

                &::-ms-track {
                    color: transparent;
                    border-width: $thumb-width 0;
                    border-color: transparent;
                    background: transparent;
                    @include track();
                }

                &::-ms-fill-lower {
                    border: $track-border-width solid $track-border-color;
                    border-radius: $track-radius * 2;
                    background: darken($track-color, $contrast);
                    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                }

                &::-ms-fill-upper {
                    border: $track-border-width solid $track-border-color;
                    border-radius: $track-radius * 2;
                    background: $track-color;
                    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
                }

                &::-ms-thumb {
                    @include thumb();
                }

                &:focus::-ms-fill-lower {
                    background: $track-color;
                }

                &:focus::-ms-fill-upper {
                    background: lighten($track-color, $contrast);
                }
            }
        }

        .range-value {
            margin-left: $padding;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 6rem;
        }
    }
}
