.search {
  position: relative;
  z-index: 10;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transition: margin 0.5s;
  opacity: 1;
  background: $white;

  form {
    width: 100%;

    .search-input-wrapper {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      min-height: 4.5rem;
      padding: $padding ($padding*2);
      background-color: $white;

      .form-group {
        align-items: flex-start;
        margin-bottom: 0;

        &.first-name-search {
          @include for-tablet-landscape-up {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        &.last-name-search {
          @include for-tablet-landscape-up {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        &.property-search {
          @include for-tablet-landscape-up {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
            width: auto;
          }
        }

        &.quote-no-search {
          @include for-tablet-landscape-up {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        &.zip-search {
          @include for-tablet-landscape-up {
            flex-basis: 7rem;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        label {
          margin-bottom: $padding/4;
          font-size: $font-size-sm;
        }

        input {
          -ms-flex-preferred-size: 1.25rem;
          flex-grow: 1;
          flex-shrink: 1;
        }
      }

      &.search-policy-wrapper {
        .form-group {
          &.search-context {
            @include for-tablet-landscape-up {
              flex-basis: 6rem;
              flex-grow: 0;
              flex-shrink: 0;
            }
          }

          &.first-name-search {
            @include for-tablet-landscape-up {
              flex-basis: 9rem;
              flex-grow: 0;
              flex-shrink: 0;
            }
          }

          &.last-name-search {
            @include for-tablet-landscape-up {
              flex-basis: 9rem;
              flex-grow: 0;
              flex-shrink: 0;
            }
          }

          &.policy-no-search {
            @include for-tablet-landscape-up {
              flex-basis: 9rem;
              flex-grow: 0;
              flex-shrink: 0;
            }
          }
        }
      }

      > span {
        position: absolute;
      }

      input {
        flex: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button {
        padding: 0.625rem 0.75rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        line-height: 1;

        span {
          @include for-phone-only {
            display: none;
          }
        }

        i.fa-search {
          @include for-phone-only {
            margin-right: 0;
          }
        }

        &.multi-input {
          margin-left: $padding;
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }
      }
    }
  }

  .survey-wrapper {
    z-index: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(100vh - 128px);
    padding: 0;

    .results,
    .results-wrapper {
      flex-grow: 1;
      flex-shrink: 1;

      ul.results {
        padding: $padding*2;
      }

      .heading {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: ($padding/2) $padding;
        border-top: $card-border-width solid $card-border-color;

        &:first-child {
          border-top: none;
        }

        span {
          display: inline-flex;
          justify-content: center;
          padding: ($padding/2) $padding;
          border-radius: 0.71875rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}
