.search {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    //padding: $padding;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;

    form {
        width: 100%;

        .search-input-wrapper {
            display: flex;
            min-height: 4.5rem;
            padding: $padding ($padding*2);
            background-color: $warm-gray-03;
            flex-grow: 1;
            align-items: flex-end;

            .form-group {
                margin-bottom: 0;
                align-items: flex-start;

                &.first-name-search {
                    @include for-tablet-portrait-up {
                        flex-basis: 10rem;
                        flex-shrink: 0;
                        flex-grow: 0;
                    }
                }

                &.last-name-search {
                    @include for-tablet-portrait-up {
                        flex-basis: 10rem;
                        flex-shrink: 0;
                        flex-grow: 0;
                    }
                }

                &.property-search {
                    @include for-tablet-portrait-up {
                        flex-basis: auto;
                        width:auto;
                        flex-shrink: 0;
                        flex-grow: 1;
                    }
                }

                &.quote-no-search {
                    @include for-tablet-portrait-up {
                        flex-basis: 10rem;
                        flex-shrink: 0;
                        flex-grow: 0;
                    }
                }

                &.zip-search {
                    @include for-tablet-portrait-up {
                        flex-basis: 7rem;
                        flex-shrink: 0;
                        flex-grow: 0;
                    }
                }

                label {
                    font-size: $font-size-sm;
                    margin-bottom: $padding/4;
                }
            }

            >span {
                position: absolute;
            }

            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                flex: 1;

                &.focus-user {
                    //animation: glow 3200ms ease-out infinite alternate;
                    outline: none;
                    box-shadow: 0 0 5px rgba( $bright-blue, 0 ), inset 0 0 5px rgba($bright-blue, 0);

                    &:focus {
                        animation: none;
                    }
                }
            }

            button {
                padding: 0.625rem 0.75rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                line-height: 1;

                &.multi-input {
                    margin-left: $padding;
                    border-top-left-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem;
                }
            }
        }
    }

    .survey-wrapper {
        z-index: 10;
        width: 100%;
        padding: 0;
        overflow-y: auto;
        flex-grow: 0;
        flex-shrink: 1;

        ul.results {
            padding: $padding*2;
        }

        .heading {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: ($padding/2) $padding;
            border-top: $card-border-width solid $card-border-color;
            justify-content: space-between;
            align-items: center;

            &:first-child {
                border-top: none;
            }

            span {
                display: inline-flex;
                padding: ($padding/2) $padding;
                border-radius: 0.71875rem;
                font-size: 0.8rem;
                justify-content: center;
            }
        }
    }
}
