html {
  margin: 0;
  padding: 0;
  height: 100%;
  //site body
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  //site background
  div#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: $white;

    .app-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0;
      padding: 0;
      min-height: 100vh;
      width: 100%;
      background: $warm-gray-10;

      div[role="main"] {
        position: relative;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        align-items: flex-start;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 0;
        min-height: calc(100vh - 3.75rem);
        width: 100%;
        height: calc(100vh - 3.75rem);
        background: $white;

        .content-wrapper {
          display: flex;
          overflow-x: hidden;
          overflow-y: hidden;
          align-self: stretch;
          flex-direction: column;
          flex-grow: 1;
          flex-wrap: wrap;
          width: 100%;

          @include for-phone-only {
            padding: 0;
          }
          @include for-tablet-portrait-up {
            margin-left: 4.75rem;
          }
          @include for-tablet-landscape-up {
            margin-left: 0;
          }

          > div {
            overflow: hidden;
            flex-grow: 1;
            width: 100%;
            height: auto;
          }

          .workflow {
            display: flex;
            padding: 0;

            .route {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: auto;

              &.search, &.chooseAddress, &.chooseQuote {
                  overflow: hidden;
                  align-items: stretch;

                  >.flex.grow {
                      overflow: hidden;
                  }

                  .detailHeader {
                      display: none;
                  }
                  .workflow-header {
                      display: none;
                  }
              }

              .detailHeader {
                  min-height: 4.625rem;

                  @include for-tablet-portrait-up {
                    max-height: 4.625rem;
                  }
              }
              .workflow-header {
                  display: flex;

                  @include for-phone-only {
                      min-height: 2.25rem;
                  }
                  @include for-tablet-portrait-up {
                     min-height: 4.25rem;
                  }
                  @include for-tablet-landscape-up {
                     min-height: 4.6875rem;
                  }
                  @include for-desktop-up {
                      min-height: 4.6875rem;
                  }
              }

              .route-content {
                position: relative;
                display: flex;
                overflow: hidden;
                flex-direction: column;
                flex-grow: 1;
                width: 100%;
                height: auto;

                .main,
                form {
                  display: flex;
                  overflow: hidden;
                  flex-direction: column;
                  flex-grow: 1;
                  width: 100%;

                  .scroll {
                    width: 100%;

                    > div {
                        overflow: hidden;
                    }
                  }
                }
              }

              .search {
                form {
                  flex-grow: 0;
                  flex-shrink: 0;
                }
              }

              .scroll {
                display: flex;
                overflow-x: hidden;
                overflow-y: auto;
                flex-direction: column;
                flex-grow: 1;
                flex-wrap: nowrap;
                width: 100%;

                ul {
                  flex-grow: 1;
                }

                .workflow-steps {
                  flex-grow: 1;
                  flex-shrink: 0;

                  .btn {
                    align-self: flex-start;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
