.verify {
  overflow-y: auto;
  width: 100%;

  .detail-wrapper {
    width: 100%;

    .detail-group {
      .edit-btn {
        position: absolute;
        top: $padding*3;
        right: 0;
        cursor: pointer;
        font-size: $font-size-h5;
        @include for-phone-only {
          top: $padding*2;
        }

        &:hover {
          text-decoration: none;
        }
      }

      .section-group-header {
          position: relative;
          padding-right: 3rem;
      }

      .effective-date {
          position: relative;

          .edit-btn {
              font-size: $font-size-h6;
              font-weight: $font-weight-bold;
              right: auto;
              bottom: 0;
              top: auto;
              left: 0;

              @include for-phone-only {
                  left: 6rem;
              }
          }
      }

      &.property-details {
        .display-element {
          display: flex;
          padding: 0 $padding $padding;
          flex-wrap: wrap;
          @include for-phone-only {
            flex-direction: column;
          }

          dl {
            flex-shrink: 0;
            flex-grow: 1;

            div {
              dd {
                margin-bottom: 0;

                +dd {
                  font-size: $font-size-h6;
                }
              }
            }
          }
        }
      }

      &.quote-details {
        .display-element {
          display: flex;
          flex-direction: column;
          margin-bottom: $padding;
          flex-wrap: wrap;

          dl {
            display: flex;
            margin-bottom: 0;
            padding: ($padding/2) ($padding);

            &:nth-of-type(odd) {
              background: $warm-gray-01;
            }

            div {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;

              dt {
                span {
                  margin-right: $padding;
                }
              }

              dd {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      &.policyholder-details {
        .display-element {
          padding: 0 $padding $padding;

          p {
            padding: $padding*2;
            color: $red-darken-02;
            background: $orange-lighten-04;
          }

          .contact-card {
            display: flex;
            @include for-phone-only {
              flex-direction: column;
            }

            div {
              flex-grow: 1;
              flex-shrink: 0;

              &.contact-name {}

              &.contact-email {}

              dl {
                margin-right: $padding*2;

                div {
                  dd {
                    margin-bottom: 0;

                    +dd {
                      font-size: $font-size-h6;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.mailing-address-details {
        .display-element {
          display: flex;
          padding: 0 $padding $padding;
          @include for-phone-only {
            flex-direction: column;
          }

          dl {
            flex-grow: 1;
            flex-shrink: 0;
          }
        }
      }

      &.additional-interests-details {
        .display-element {
          padding: 0 0 $padding;

          .card {
            flex-direction: row;
            margin-bottom: $padding;
            padding: $padding;

            .icon-wrapper {
              display: flex;
              flex-direction: column;
              width: 5rem;
              margin-right: $padding;
              text-align: center;
              flex-grow: 0;
              flex-shrink: 0;
              justify-content: center;
              align-items: center;

              .fa {
                font-size: $font-size-h4;

                &.Mortgagee {
                  &:before {
                    content: "\f19c";
                  }
                }

                &.Lienholder {
                  &:before {
                    content: "\F27E";
                  }
                }

                &.Interest {
                  &:before {
                    content: "\F2B5";
                  }
                }

                &.Insured {
                  &:before {
                    content: "\F234";
                  }
                }

                &.Bill {
                  &:before {
                    content: "\F0D6";
                  }
                }
              }

              p {
                margin-bottom: 0;
                font-size: $font-size-xs;
              }
            }

            section {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              flex-shrink: 1;

              h4 {
                margin-bottom: 0;
              }

              p {
                margin-bottom: 0;
              }
            }

            .ref-number {
              display: flex;
              flex-direction: column;
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 10rem;
              justify-content: center;

              label {
                margin-bottom: 0;
                font-size: $font-size-xs;
              }
            }
          }
        }
      }
    }

    .detail-group.property-details {
      .display-element {
        dl {
          dt {
            color: $bright-blue-darken-04;
          }
        }
      }
    }

    .detail-group.quote-details {
      .display-element {
        dl {
          div {
            color: $warm-gray-08;
          }
        }
      }
    }
  }
}
