.view-grid {
  display: flex;
  flex-wrap: wrap;
}

.view-grid {
  > * {
    padding: $padding;
    width: 100%;
  }
}
// TITLE component

.title {
  margin: 0 0 $padding;
  padding: ($padding);
  width: 100%;
  color: $bright-blue-darken-04;
  font-weight: $font-weight-bold;
  font-size: $font-size-h2;

  @include for-phone-only {
    font-size: $font-size-h3;

    .fa {
      font-size: $font-size-h3;
    }
  }

  .fa {
    font-size: $font-size-h2;
  }
}
// SECTION componet

.view-grid {
  section {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  section {
    display: flex;

    > * {
      padding: $padding;
    }
  }
}
@include for-tablet-landscape-up {
  .view-grid,
  .view-grid section {

    > * {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
    }

    .view-col-1 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 8.333%;
    }

    .view-col-2 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 16.667%;
    }

    .view-col-3 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 25%;
    }

    .view-col-4 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 33.333%;
    }

    .view-col-5 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 41.667%;
    }

    .view-col-6 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 50%;
    }

    .view-col-7 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 58.333%;
    }

    .view-col-8 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 66.667%;
    }

    .view-col-9 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 75%;
    }

    .view-col-10 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 83.333%;
    }

    .view-col-11 {
      flex-grow: 0;
      flex-shrink: 0;
      width: 91.667%;
    }
  }
}
// responsize styles
@supports (display: grid) {
  @include for-phone-only {
    .view-grid,
    .view-grid section {

      .view-col-1,
      .view-col-10,
      .view-col-11,
      .view-col-2,
      .view-col-3,
      .view-col-4,
      .view-col-5,
      .view-col-6,
      .view-col-7,
      .view-col-8,
      .view-col-9 {
        width: 100%;
      }
      > div {
        padding: $padding*2;
      }
    }
    .view-grid {
      > div {
        padding: $padding*2;
      }
      > section > dl {
        padding: 0 ($padding*2);
      }
    }
  }
  @include for-tablet-portrait-up {
    .view-grid,
    .view-grid section {

      .view-col-1,
      .view-col-2,
      .view-col-3,
      .view-col-4 {

      }

      .view-col-5,
      .view-col-6,
      .view-col-7,
      .view-col-8 {

      }

      .view-col-10,
      .view-col-11,
      .view-col-9 {

      }
    }
  }
}
