.detail-wrapper,
.survey-wrapper {
  align-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: ($padding*2) ($padding*2) 0;
  height: auto;

  .section-group-header {
    margin: (-$padding) (-$padding/2) ($padding*2);
    padding: ($padding);
    width: 100%;
    color: $bright-blue-darken-04;
    font-size: $font-size-h2;

    @include for-phone-only {
      font-size: $font-size-h3;
    }
  }

  &.form-group {
    flex-grow: 0;
    margin-bottom: 0;
    width: auto;

    .display-element {
      display: flex;
      flex-direction: column;
      width: 100%;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        flex-basis: auto;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;

    &.step-title {
      color: $body-color;
    }

    &.step-sub-title {
      color: $warm-gray-11;
    }
  }

  ul {
    padding-left: $padding*2;
    list-style: disc;

    ul {
      padding-left: $padding*2;
      list-style: circle;
    }
  }

  .form-group {
    border-bottom: 1px dashed $cool-gray-02;

    label {
      font-size: $font-size-h4;

      @include for-phone-only {
        font-size: $font-size-h5;
      }
    }
  }

  .section-group-header {
    flex-grow: 1;
  }
}
