.detail-wrapper,
.survey-wrapper {
  .section-group-header {
    margin: (-$padding) (-$padding/2) ($padding * 2);
    padding: ($padding);
    width: 100%;
    color: $bright-blue-darken-04;
    font-size: $font-size-h2;

    @include for-phone-only {
      font-size: $font-size-h3;
    }

    .fa {
      font-size: $font-size-h2;
    }
  }

  &.form-group {
    flex-grow: 0;
    margin-bottom: 0;
    width: auto;

    .display-element {
      display: flex;
      flex-direction: column;
      width: 100%;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        flex-basis: auto;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;

    &.step-title {
      color: $body-color;
    }

    &.step-sub-title {
      color: $warm-gray-11;
    }
  }

  ul {
    padding-left: $padding * 2;
    list-style: disc;

    ul {
      padding-left: $padding * 2;
      list-style: circle;
    }
  }

  .form-group {
    border-bottom: 1px dashed $cool-gray-02;

    label {
      font-size: $font-size-h4;

      @include for-phone-only {
        font-size: $font-size-h5;
      }
    }
  }

  .section-group-header {
    flex-grow: 1;
  }
}

.survey-wrapper {
  overflow: hidden;
  align-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding: 0;
  height: auto;
  .scroll {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: ($padding * 2) ($padding * 2) 0;
    height: calc(100vh - 14.25rem);

    @include for-phone-only {
      flex-grow: 0;
      flex-shrink: 0;
      height: auto;
    }

    > form {
      flex-grow: 0;
      flex-shrink: 0;
      height: auto;
    }
  }
}

.detail-wrapper {
  padding: ($padding * 2) ($padding * 2) 0;

  @include for-phone-only {
  }
}

.scroll {
  > .dashboard-message {
    flex-grow: 0;
    flex-shrink: 0;
    padding: ($padding * 2) ($padding * 2) 0;
    height: auto;
  }
  > .survey-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    padding: ($padding * 2) ($padding * 2) 0;
  }
}
